[submodule "lib/interfaces"]
	path = lib/interfaces
	url = https://gitlab.com/embeddedlinux/libs/hal-interfaces.git
[submodule "lib/platform/linux"]
	path = lib/platform/linux
	url = https://gitlab.com/embeddedlinux/libs/hal-linux.git
[submodule "lib/drivers"]
	path = lib/drivers
	url = https://gitlab.com/embeddedlinux/libs/hal-drivers.git
